/** @format */

.main-content-text {
	max-width: 1200px;
	margin: 10px auto;
	padding: 0px 10px;
	
}

.main-content-text h1 {
    text-align: center;
}

.projects {
	margin: 20px auto;
}
.project-name-and-date {
	display: flex;
	margin-bottom: -20px;
	max-width: 1200px;
	align-items: center;
}

.project-date {
	margin-left: auto;
	font-style: italic;
}

.project-tech {
	font-style: italic;
    opacity: 0.5;
}

#seperator-vertical {
	margin: 0px 20px;
	font-size: large;
	font-weight: bold;
}