/* .invert-color {
  filter: invert(90%) sepia(24%) saturate(352%) hue-rotate(319deg) brightness(112%) contrast(105%);
}

body {
  background-color: #005;
} 
.header-bar {
  color: #fffff2;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

.header-bar-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-bar-title {
  padding-right: 10px;
  margin-right: 10px;
  margin-top: -10px;
}

.header-bar-links {
  margin-left: auto;
  margin-right: 10px;
  margin-top: -10px;
  display: flex;
}

*/

img {
  
}
