
.main-content {
  margin: 10px auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  justify-content: space-around;
}


.main-content-text {
  width: 70%;
  max-width: 70%;
}

.main-content-image {
  max-width: 30%;
  margin-left: 50px;
}